---
layout: dash
title: BITS 19 - Timeline
nowevent: 3
---

<div class="main-panel">


    <!--Navbar-->
    <nav class="navbar navbar-expand-lg  navbar-sticky fixed-top " id="navigation-example" style="background:blue;">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <div class="navbar-brand">Timeline</div>
          <h6>
            <div id="lastsync" style="position:absolute; color:#a9afbbd1;"></div>
            <h6>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
          aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
          <!--form class="navbar-form">
            <div class="input-group no-border" style="width: 90%; padding-left: 15px;">
              <div class="search-icon" style="margin-right:15px;">
                <i class="material-icons">search</i>
                <div class="ripple-container"></div>
              </div>
              <input type="text" value="" id="myInput" onkeyup="myFunction()" class="form-control"
                placeholder="Search...">
            </div>
          </form-->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="https://bits.acicts.io">
                <i class="material-icons">home</i>
                <p class="d-lg-none d-md-block">
                  Home Page
                </p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- End Navbar -->

    <div class="container py-2">

        <!-- timeline item 1 -->
        <div class="row timeline">
            <!-- timeline item 1 event content -->
            <div class="col">
                <div class="card {% if page.nowevent == 1 %} cardnow {% endif %}">
                    <div class="card-body">
                        <div class="float-right"{% if page.nowevent == 1 %} style="color: white !important;" {% endif %}>Mon, June 10th of 2019</div>
                        <h4 class="card-title"{% if page.nowevent == 1 %} style="color: white !important;" {% endif %}>Registration Opened</h4>
                        <p class="card-text" {% if page.nowevent == 1 %} style="color: #c1c1c1 !important;" {% endif %}>Students can registered into BITS!</p>
                    </div>
                </div>
            </div>
        </div>
        <!--/row-->
        <!-- timeline item 2 -->
        <div class="row timeline">
            <div class="col">
                <div class="card {% if page.nowevent == 2 %} cardnow {% endif %}">
                    <div class="card-body">
                        <div class="float-right"{% if page.nowevent == 2 %} style="color: white !important;" {% endif %}>Mon, June 10th of 2019</div>
                        <h4 class="card-title"{% if page.nowevent == 2 %} style="color: white !important;" {% endif %}>Competition will be started</h4>
                        <p class="card-text" {% if page.nowevent == 2 %} style="color: #c1c1c1 !important;" {% endif %}>Second sonsecutive year of BITS; the first ever task based intra school ict competition will be started.</p>

                        <div class="border" id="t2_details">
                            <div class="p-2 text-monospace">
                                <h5>Online Tests</h5>
                                <ul>
                                <li>Sat, June 15<sup>th</sup> of 2019 - 1<sup>st</sup> online test</li>
                                <li>Sat, June 22<sup>nd</sup> of 2019 - 2<sup>nd</sup> Online test</li>
                                <li>Sat, June 29<sup>th</sup> of 2019 - 3<sup>rd</sup> online test</li>
                                <li>Fri, July 5<sup>th</sup> of 2019 - Final Online test</li>
                                </ul>
                                <!--hr style="color:white">

                                <
                                <h5>Blueprint</h5>
                                <ul>
                                <li><i>Not confirmed</i></li>
                                </ul-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/row-->
        <!-- timeline item 3 -->
        <div class="row timeline">
            <div class="col">
                <div class="card {% if page.nowevent == 3 %} cardnow {% endif %}">
                    <div class="card-body">
                        <div class="float-right"{% if page.nowevent == 3 %} style="color: white !important;" {% endif %}>Tue, July 2nd of 2019</div>
                        <h4 class="card-title"{% if page.nowevent == 3 %} style="color: white !important;" {% endif %}>Advanced tasks will be released</h4>
                        <p {% if page.nowevent == 3 %} style="color: #c1c1c1 !important;" {% endif %}>Students can find out some complex tasks and gain more points.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--/row-->
        <!-- timeline item 4 -->
        <div class="row timeline">
            <div class="col">
                <div class="card  {% if page.nowevent == 4 %} cardnow {% endif %}">
                    <div class="card-body">
                        <div class="float-right"{% if page.nowevent == 4 %} style="color: white !important;" {% endif %}>Tue, July 9th 2019</div>
                        <h4 class="card-title "{% if page.nowevent == 4 %} style="color: white !important;" {% endif %}>Competiton will be finished</h4>
                        <p {% if page.nowevent == 4 %} style="color: #c1c1c1 !important;" {% endif %}>The BITS 19 will be finished after 30 days competition.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row timeline">
            <div class="col">
                <div class="card {% if page.nowevent == 5 %} cardnow {% endif %}">
                    <div class="card-body">
                        <div class="float-right" {% if page.nowevent == 5 %} style="color: white !important;" {% endif %}>Mon, Jul 14th 2019</div>
                        <h4 class="card-title" {% if page.nowevent == 5 %} style="color: white !important;" {% endif %}>Winners will be anounced</h4>
                        <p {% if page.nowevent == 5 %} style="color: #c1c1c1 !important;" {% endif %}>BITS 19 winners will be announced</p>
                    </div>
                </div>
            </div>
        </div>
        <!--/row-->
    </div>
    <!--container-->

    <style>
      .timeline{
        margin-bottom: -20px;
      }
      .cardnow{
          background: linear-gradient(60deg, #288c6c, #4ea752) !important;

      }
      div .textheader{
        color: white !important;
      }
      .border{
        border-color: #8b92a9 !important;
    opacity: 0.6;
    border-radius: 16.5px;
    margin-top: 10px;
    padding: 14px;
    color: #ffffff;
    background: #9095a242;;
      }
    </style>
