<footer class= "footer" style="margin-bottom:10px">
  <div class="container-fluid">
    <nav class="float-left">
      <ul>
        <li>
          <a href="https://acicts.io">
            ACICTS
          </a>
        </li>
        <li>
          <a href="./about.html">
            About
          </a>
        </li>
        <!--li>
          <a href="">
            ACICTS Blogs
          </a>
        </li-->
        <li>
          <a href="./contact.html">
            Contact Us
          </a>
        </li>
      </ul>
    </nav>

    <div class="copyright float-right"  style="color: #b5caff">
      &copy;
      <script>
        document.write(new Date().getFullYear())
      </script>
      <a href="http://acicts.io/" target="_blank">ACICTS</a>  - All rights reserved.
    </div>

  </div>
</footer>
<!--This Website is created by Supun Tharinda-->
<!--   Core JS Files   -->

<script src="../assets/js/core/jquery.min.js"></script>
<script src="../assets/js/core/popper.min.js"></script>
<script src="../assets/js/core/bootstrap-material-design.min.js"></script>
<script src="https://unpkg.com/default-passive-events"></script>
<script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chartist JS -->
<script src="./assets/js/plugins/chartist.min.js"></script>
<!--  Notifications Plugin    -->
<script src="./assets/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="./assets/js/material-dashboard.js?v=2.1.0"></script>
<script src="./assets/demo/demo.js"></script>
<script src="./assets/scripts/main.js"></script>
